server:
  port: 8080
spring:
#  sql:
#    init:
#      mode: always
  datasource:
    url: jdbc:postgresql://tlocalhos:5332/integration
    username: johnny
    password: password
  jpa:
#    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
#  main:
#    web-application-type: servlet